CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

.deps/
bin/
dist/
build/
*.egg-info

# test artifacts
.coverage
htmlcov/
*.gcda
*.gcno

# local scratch space
local/

# compiled types
*.so
*.exe
*.a
*.d
*.o
*.pyc
*.pyi
*.whl

# compiled protobuf files
*_pb2.py
*.pb.h
*.pb.cc

# file breadcrumbs
*.swp

# temp file types
*.tmp
*.prm

# ide, editors, and language server goodies
.idea
.cache
.ccls
.clangd
.kanbn
.dir-locals.el
compile_commands.json
.hypothesis
.vscode
